site_name: Playground Todo
repo_url: https://github.com/oktntko/playground-todo

nav:
  - はじめに: index.md
  - とにかく動かしてみよう:
      - lets-try-anyway/index.md
      - いいパソコンを使おう: lets-try-anyway/pc.md
      - Windows の設定を確認しよう: lets-try-anyway/windows.md
      - ツールをインストールしよう: lets-try-anyway/tools.md
      - 開発環境を作ろう: lets-try-anyway/env.md
      - プロジェクトを作ろう: lets-try-anyway/project.md
  - 理解度を確認しよう:
      - comprehension-check/index.md
      - FizzBuzz問題: comprehension-check/fizzbuzz-1.md
      - FizzBuzz問題の解説: comprehension-check/fizzbuzz-2.md
      - アナグラム: comprehension-check/anagram-1.md
      - アナグラムの解説: comprehension-check/anagram-2.md
      - 厄年計算: comprehension-check/yakudosi-1.md
      - 厄年計算の解説: comprehension-check/yakudosi-2.md
  - コンソールで動かそう:
      - run-in-console/index.md
      - 対話型アプリを試そう: run-in-console/interactive-app.md
      - アプリの基礎を作ろう: run-in-console/base-app-1.md
      - アプリの基礎の解説: run-in-console/base-app-2.md
      - ファイルを使おう: run-in-console/use-file.md
      - 期日も管理しよう: run-in-console/add-limit-1.md
      - 期日も管理しようの解説: run-in-console/add-limit-2.md
      - データベースの基本: run-in-console/database-base.md
      - データベースを使おう: run-in-console/use-database.md
      - 見た目にこだわろう: run-in-console/appearance-app.md
  - ウェブシステム化しよう: mock.md
  - ウェブ画面を作ろう: mock.md
  - 仕様書を書こう: mock.md
  - 試験をしよう: mock.md
  - 仕様変更をしよう: mock.md
  - デプロイしてみよう: mock.md
  - 振り返り＆今後: mock.md

theme:
  name: material
  palette: # テーマカラー
    primary: grey
  font:
    text: Noto Sans JP
    code: Roboto Mono
  features:
    - navigation.expand # サイドバーにあるセクションを最初からすべて展開する
    - header.autohide # タイトルバーが隠れるようにする
    - navigation.indexes # セクション インデックス ページが有効になっている場合、ドキュメントをセクションに直接添付できます。これは、概要ページを提供する場合に特に便利です
    - navigation.footer # フッターには、現在のページの前のページと次のページへのリンクを含めることができます。
    - content.code.annotate # コードの注釈

extra_css:
  - assets/main.css

plugins:
  search:
    lang: "ja"

markdown_extensions:
  - pymdownx.blocks.admonition # メモ、ヒント、警告 https://facelessuser.github.io/pymdown-extensions/extensions/blocks/plugins/admonition/
  - pymdownx.blocks.details # 折り畳みブロック https://facelessuser.github.io/pymdown-extensions/extensions/blocks/plugins/details/
  - pymdownx.blocks.definition # 定義 https://facelessuser.github.io/pymdown-extensions/extensions/blocks/plugins/definition/
  - pymdownx.superfences # ネスト
  - pymdownx.keys # キーコード
  - pymdownx.highlight: # コードのハイライト
      linenums: true
  - pymdownx.tasklist: # チェックボックス
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.mark # マーカー
  - pymdownx.tilde # 取り消し線
  - footnotes # 注釈
  - toc:
      permalink: True
      title: 目次
  - mdx_truly_sane_lists: # スペース2個のインデントをリストのネストとして認識させたい https://stakiran.hatenablog.com/entry/2018/08/02/202816
      nested_indent: 2
  - attr_list
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
