[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "mkdocs serve"
build = "mkdocs build"
deploy = "mkdocs gh-deploy"

[packages]
mkdocs = "1.4.3"
mkdocs-material = "9.1.11"
mkdocs-material-extensions = "1.1.1"
pymdown-extensions = "9.11"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.5"
